.item {
  flex: 0 0 19.7%;
  transition: transform 300ms ease 100ms;
  margin: 0 2px;
  position: relative;
  img {
    height: 100%;
    width: 100%;
    vertical-align: top;
  }
  img:hover {
    cursor:pointer;
  }
}
.item:hover {
  cursor: pointer;
}
.play-icon {
  position: absolute;
  left: 50%;
  top: 60%;
  transform:translate(-50%);
  width: 25% !important;
  height: 25% !important;
  opacity: 0.4;
  z-index:1111;
}
.play-icon:hover {
  opacity: 1.0;
}
