.mark {
  box-sizing: border-box;
  border: solid 4px #fff;
  position: absolute;
  top: -4px;   /*mark border width defined by margin*/
  left: -4px;  /*mark border width */
  right: -4px; /*mark border width */
  bottom: -4px;/*mark border width */
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  z-index: -1;

  &:before,
  &:after {
    position: absolute;
    width: 0;
    height: 0;
    content: '';
    top: 100%;
    left: 50%;
    margin-left: -13px;
    border-style: solid;
    border-width: 7px 13px 0 13px;
  }

  &:before {
    border-color: rgba(0, 0, 0, 0.15) transparent transparent transparent;
    margin-top: 5px;
  }

  &:after {
    margin-top: 4px;
    border-color: #fff transparent transparent transparent;
  }
}

.mark-admin {
  box-sizing: border-box;
  border: solid 4px;
  border-color: yellow;
  position: absolute;
  top: 41px;
  left: -2px;
  right: -2px;
  bottom: -40px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  z-index: 44 !important;

  &:before,
  &:after {
    position: absolute;
    width: 0;
    height: 0;
    content: '';
    top: 100%;
    left: 50%;
    margin-left: -13px;
    border-style: solid;
    border-width: 7px 13px 0 13px;
  }

  &:before {
    border-color: rgba(0, 0, 0, 0.15) transparent transparent transparent;
    margin-top: 5px;
  }

  &:after {
    margin-top: 4px;
    border-color: #fff transparent transparent transparent;
  }
}
