.slide-button {
  position: absolute;
  top: -1;
  bottom: 0;
  width: 55px;
  background: rgba(0, 0, 0, 0);
  border: 0;
  outline: 0;
  padding: 0;
  margin: 40px 0;
  z-index: 4;

  span {
    width: 35px;
    color: white;
    display: block;
    margin: 0 auto;
  }

  &--next {
    right: 0;

    span {
      transform: rotateZ(-90deg);
    }
  }

  &--prev {
    left: 0;

    span {
      transform: rotateZ(90deg);
    }
  }
}

.slide-button-admin {
  position: absolute;
  top: -1;
  bottom: 0;
  width: 55px;
  background: rgba(0, 0, 0, 0);
  border: 0;
  outline: 0;
  padding: 0;
  margin: 40px 0;
  z-index: 4;

  span {
    width: 35px;
    color: yellow;
    display: block;
    margin: 0 auto;
  }

  &--next {
    right: 0;

    span {
      transform: rotateZ(-90deg);
    }
  }

  &--prev {
    left: 0;

    span {
      transform: rotateZ(90deg);
    }
  }
}
