.Logo {
  font-size:22px;
  font-weight: bold;
  color: red;
  width: 151px;
  height: 81px;
  margin-right: 10px;
  margin-top: 8px;
  -webkit-transition: margin .525s ease;
  transition: margin .525s ease;
}

.Logo:hover {
  cursor: pointer;
  margin-top: 15px;
  margin-left: 8px;
  color:white;
}
