.Header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 40px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  box-sizing: border-box;
  z-index: 5;
}
.Search {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  position: absolute;
  left:0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  pointer-events: none;  /*bez tego nie animuje sie header*/
}
.Search input {
  font-family: "Chilanka", sans-serif;
  font-weight: bold;
  font-size: 14px;
  height: 37px;
  width: 15%;
  background: transparent;
  color: white;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-width: 1px;
  border: solid;
  border-color: red;
  outline: none;
  border-radius: 37px;
  padding: 0 10px;
  pointer-events: all;
  -webkit-transition: border 0.75s ease, width 1.225s ease .5125s, height 1.225s ease .5125s, font-size 1.225s ease .5125s;
  transition: border 0.75s ease, width 1.225s ease .5125s, height 1.225s ease .5125s, font-size 1.225s ease .5125s;
}
.Search input:focus {
  background-color: black;
  border: 4px solid yellow;
  width: 30%;
  height: 55px;
  font-size: 25px;
}
