

.z-index-998 {
  position: fixed;
  top:0;
  left:0;
  z-index:998 ;
  width: 100%;
  height:100%;
  background-color:black;
  opacity: 0.8;
}
.z-index-999 {
  display: flex;
  z-index: 999;
  width: 80%;
  height: 95%;
  position: fixed;
  top:50%;
  left:50%;
  border-radius: 20px;
  background-color:black;
  transform: translate(-50%,-50%);
  border:solid;
  border-color:yellow;
  border-width:1px;
}

.row-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5px;
}
.row-space-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.row-space-evenly {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.column-space-evenly {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.row-space-around {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.align-items-center {
  align-items: center;
}
.flex-column {
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding: 5px;
}
.flex-row {
    display: flex;
    flex-direction: row;
    margin: 5px;
    padding: 5px;
}
.modal-title {
    color: yellow;
    font-size: 15px;
}
.modal-title-uppercase {
      text-transform: uppercase;
      margin-left: 20px;
      font-size: 20px;
}
.modal-textarea {
    border:solid;
    border-color: yellow;
    border-width: 1px;
    border-radius: 20px;
    margin: 5px;
}
.modal-image {
    border: solid;
    border-color: gray;
    border-width: 1px;
    border-radius: 20px;
    // margin: 5px;
}

.border-green {
  border-radius: 20px;
  // border: solid;
  border-color: green;
  border-width: 1px;
  margin: 5px;
  padding: 5px;

}
.border-red {
  border-radius: 20px;
  // border: solid;
  border-color: red;
  border-width: 1px;
  margin: 5px;
  padding: 0px;
}
.border-blue {
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  // border: solid;
  border-color: blue;
  border-width: 1px;
  margin: 5px;
  padding: 5px;
}
.border-orange {
  border-radius: 20px;
  // border: solid;
  border-color: orange;
  border-width: 1px;
  margin: 5px;
  padding: 5px;
}
.border-brown {
  border-radius: 20px;
  // border: solid;
  border-color: brown;
  border-width: 1px;
  margin: 5px;
  padding: 5px;
}
.border-white {
  border-radius: 20px;
  // border: solid;
  border-color: white;
  border-width: 1px;
  margin: 5px;
  padding: 5px;
}
.bg-black {
  background-color: black;
}
.item-flex-grow-1 {
  flex-grow: 1;
  flex-basis: 0;
}
.item-flex-grow-2 {
  flex-grow: 2;

}
.item-flex-grow-3 {
  flex-grow: 3;
}
.item-flex-grow-4 {
  flex-grow: 4;
}
.item-flex-grow-5 {
  flex-grow: 5;
}
.item-flex-grow-6 {
  flex-grow: 6;
}
.item-flex-grow-7 {
  flex-grow: 7;
}
.item-flex-grow-8 {
  flex-grow: 8;
}
.item-flex-grow-9 {
  flex-grow: 9;
}
.item-flex-grow-10 {
  flex-grow: 10;
}
.item-flex-grow-11 {
  flex-grow: 11;
}
.direct-child-grow {

}
.item-flex-shrink-1 {
  flex-shrink: 1;
}
.item-opacity-0-1 {
  opacity: 0.1;
}
.item-opacity-0-5 {
  opacity: 0.5;
}
.item-opacity-0-7 {
  opacity: 0.7;
}
.button-save {

}
.modal-textarea {
  resize: none;
  border-radius: 3px;
  color: white;
  border-color: gray;
}
justify-content-center {
  justify-content: center;
}
